* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* NAVBAR section */

.navbar {
  width: 100%;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  margin-bottom: 1.9em;
}

.navbar > p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-left: 8px;
}

/* CARD section */

.card--container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  color: #2B283A;
  height: 180px;
  gap: 1.2em;
  margin: 0 2.5em;
  padding: 1.2em 0;
  border-bottom: 1px solid #F5F5F5;
}

.card p, .card a {
  font-size: 0.65rem;
}

.card--img {
height: 100%;
width: 110px;
border-radius: 10px;
object-fit: cover;
}

.card--location-container {
  display: flex;
}

.card--pin {
  width: .5em;
  margin-right: .2em;
}

.card--location {
  letter-spacing: .2em;
  margin: 0;
  margin-right: .7em;
  text-transform: uppercase;
  
}

.card--map-link {
  color: #918E9B;
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}

.card--title {
  font-size: 1.55rem;
  margin-top: .2em;
}

.card--date {
  font-weight: 700;
  margin-top: 1.75em;
  margin-bottom: 0;
}

.card--description {
  margin-top: .75em;
  margin-bottom: 0;
  max-width: 50vw;
}